@font-face {
  font-family: Inter-Regular;
  src: url('../assets/fonts/static/Inter-Regular.ttf');
}

@font-face {
  font-family: Inter-Bold;
  src: url('../assets/fonts/static/Inter-Bold.ttf');
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url('../assets/fonts/static/Inter-ExtraBold.ttf');
}

//layout
$breakpoints: (
  "mobile": 23.4375rem,
  "desktop": 90rem,
);

//colors
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

//typography
$font-size: .9375rem; //for p
$font-regular: Inter-Regular;
$font-bold: Inter-Bold;
$font-extra: Inter-ExtraBold;