@use 'variables' as v;

@mixin list {
  ul {
    display: flex;
    gap: 1.25rem;
    li {
      display: inline;
      list-style: none;

      a{
        text-decoration: none;
        color: v.$white;
        font-family: v.$font-regular;
        font-size: v.$font-size;

        &:hover {
          padding-bottom: .3125rem;
          border-bottom: 2px solid v.$white;
        }
      }
    }
  }
}

@mixin footerPosition {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

@mixin breakpoints($size) {
  @media (max-width: map-get(v.$brekapoints, $size)) {
    @content;
  }
}