@use 'variables' as v;

@mixin list {
  ul {
    display: flex;
    gap: 1.25rem;
    li {
      // display: inline;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;
        a {
          text-decoration: none;
          margin-bottom: .3125rem;
          color: v.$white;
          font-family: v.$font-regular;
          font-size: v.$font-size;
        }

        .border-bottom {
          width: 1.25rem;
        }

        &:hover {
          .border-bottom {
            border-top: 2px solid v.$white;;
          }
        }
      }
    }
  }


@mixin footerPosition {
  display: flex;
  flex-direction: column;
  gap: .625rem;
}

@mixin breakpoints($size) {
  @media (max-width: map-get(v.$brekapoints, $size)) {
    @content;
  }
}