@use '../variables' as v;
@use '../mixin' as m;

.footer {
  padding: 1.25rem 6.25rem;
  background-color: v.$black;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer-logo-menu {
    @include m.footerPosition;
    @include m.list;

    img {
      cursor: pointer;
    }
  }

  .footer-icons-copyright {
    @include m.footerPosition;

    text-align: right;

    .footer__icons {
      img {
        margin-right: .3125rem;
        cursor: pointer;
      }
    }

    .footer__copyright {
      color: v.$dark-gray;
    }
  }
}